<div class="container-md">
        <div class="row">

        <div class="card w1 card-outer">
            <div class="card-header">
                <div>
                To: <a class="btn btn-sm btn-secondary" href="">John</a>
                </div>
                <div style="float:right;">
                Responder: <a class="btn btn-sm btn-secondary" href="">John</a>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up
                    the bulk of the card's content.</p>
            </div>


            <div class="card-footer";>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-success b-size">Like</button>
                    <button type="button" class="btn btn-sm btn-outline-success">Dislike</button>
                    <div class="ml-1" style="display:inline-block;">

                    <button type="button" class="btn btn-sm btn-secondary">Reply</button>
                    <button type="button" class="btn btn-sm btn-secondary">Edit/Delete</button>
                    </div>


                </div>

        </div>
        </div>
    </div>
</div>